
<script>
    let items = document.querySelectorAll('li');
    items.forEach(li => {
       li.addEventListener('click' , (event)=>{
                 fetch(`/api/todo/${li.textContent}` , {method:'DELETE'})
                 .then(res=> location.reload()) 
                 .catch(err => console.log(err));
       });
    });
</script>
</body>
</html>