<%- include('./layouts/header.ejs') -%>

 
<div class="container">
    <form action="/todos" method="POST">
        <input type="text" name="item" id="item">
        <button type="submit">Add Item</button>
    </form>
    <ul>
        <% for(let i =0; i < data.length; i++) {%>
            
            <li data-id="<%= data[i]._id %>"> <%= data[i].item %> </li>

        <% } %>     
    </ul>
</div>


<%- include('./layouts/footer.ejs') -%>